@tailwind components;
@layer components {
    .baseButton {
        border: none;
        color: #fff;
        padding: 8px 10px;
        font-size: 14px;
        width: 165px;
        display: block;
        text-align: center;
        font-weight: 700;
        transition: .2s;
    }
    .baseButton:disabled {
        pointer-events: none;
        @apply bg-gray-500 !important;
    }
    .full {
        width: 100%;
    }
    .primary {
        position: relative;
        background-size: auto;
        display: inline-block;
        background-color: transparent;
        border-radius: 12px;
        border: solid #ffffff 1px;
        color: #ffffff;
    }
    .primary:hover {
        border: solid #FFA222 1px;
        color: #FFA222;
    }
    .secondary {
        @apply bg-[#FFA222] !important;
        border-radius: 12px;
        border: solid #9D610F 2px;
        color: #1e1e1e;
    }
    .secondary:hover {
        @apply bg-[#ffa222c7] !important;
        ;
    }

    .accent {
        @apply bg-[#aaaaaa] !important;
    }
    .accent:hover {
        @apply bg-[#d6d6d6] !important;
        ;
    }
    @media(max-width: 1024px) {
        .baseButton {
            width: fit-content;
            font-size: 12px;
        }
    }
}