@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

@layer components {
    body {
        @apply bg-tertiary text-xl text-white;
    }
    .carousel-slide {
        width: 100%;
        height: 200px;
    }
    .sports-page {
        background: url("https://portalbucket.fra1.cdn.digitaloceanspaces.com/assets/sports.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hoverable-path:hover svg {
        transform: translateX(5px);
    }
    .transition-in-out {
        transition: 0.3s ease-in-out;
    }
    .transition-in-out-2 {
        transition: 0.2s ease-in-out;
    }
    .no-scrollbar::-webkit-scrollbar {
        width: 0.5em;
        height: 0.5em;
    }
    /* Track */
    .no-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    /* Handle */
    .no-scrollbar::-webkit-scrollbar-thumb {
        background: transparent;
    }
    .no-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
    }
}