#vertical-swiper > .swiper {
    width: 100%;
    max-height: 500px;
    height: auto;
    display: flex;
    justify-content: center;
}
#vertical-swiper > .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px !important;
    height: 100%;
}
#vertical-swiper > .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}